spring:
  profiles:
    include: "local"
  datasource:
    url: ${spring.datasource.url}
    driverClassName: org.mariadb.jdbc.Driver
    username: likelion
    password: likelion11
  jpa:
    open-in-view: true
    generate-ddl : true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  cache:
    type: caffeine
    caffeine:
      spec: expireAfterWrite=5s # 5초간 같은 특보번호로 요청시 캐싱 데이터 반환
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  logging:
    config: classpath:log4j2.yml
  level:
    p6spy : info
    org.hibernate.SQL: debug

api-url : http://apis.data.go.kr/1360000/WthrWrnInfoService/getPwnCd?serviceKey=IPIATjZ7%2FGuNvP12UpJx%2FIZmA0UWtoCMzmIlAHPOQGBpzTWv0ONDQ%2BLSqd3crii%2FTeXIWG29K%2F0N6Unmh4WFtA%3D%3D&numOfRows=100&pageNo=1&dataType=JSON&warningType=


